@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #1b1b1b;
}
img {
  object-fit: cover !important;
}
a {
  text-decoration: none;
}
body {
  background-color: #1b1b1b;
}
.w-35 {
  width: 35%;
}
.w-30 {
  width: 30%;
}
.contact-heading img {
  height: 3px;
}
.contact-heading h1 {
  font-size: 40px;
  flex: none;
  font-weight: 700;
}
ol,
ul {
  padding-left: 0rem !important;
}

.contact-heading h3 {
  text-align: center;
  flex: none;
  font-size: 32px;
  font-weight: 700;
}
.faculty {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.faculty div {
  margin-top: 0.5rem;
}
.faculty div p {
  width: 50%;
}
.faculty img {
  object-fit: cover;
  width: 250px;
  height: 275px;
}
.text-right {
  text-align: -webkit-right !important;
}
.text-left {
  text-align: -webkit-left !important;
}
@media only screen and (max-device-width: 767px) {
  .w-35 {
    width: 15%;
  }
  .w-30 {
    width: 30%;
  }
  .contact-heading h3 {
    flex: initial;
  }
  .faculty {
    justify-content: center;
    align-items: center;
  }
  .faculty div p {
    width: 100%;
  }
  .text-right,
  .text-left {
    text-align: center !important;
  }

  .card {
    border: none !important;
  }
}

.card {
  border: none !important;
}
