* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  object-fit: cover !important;
}
body {
  background-color: #1b1b1b;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}
.events-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.events-heading img {
  height: 2px;
  width: 40%;
}
.events-heading h1 {
  margin: 0px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 900;
}
.event-info {
  display: flex;
  justify-content: center;
}
.event-info p {
  width: 50%;
  text-align: center;
  font-size: 0.8rem;
}

/* First event */

#event-1 {
  position: relative;
}
.events-heading-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.events-heading-sub img {
  height: 2px;
  width: 36%;
}
.events-heading-sub h1 {
  margin: 0px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
}
.events-images {
  display: flex;
  justify-content: center;
}
.events-images img {
  height: 75vh;
  width: 80%;
  margin-bottom: 50px;
}
.events-images-sub {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  justify-content: center;
}

.box1 img {
  height: 300px !important;
  width: 200px;
  margin: 0 0px !important;
}

.owl-stage .active {
  border: none !important;
}
.show {
  width: 40rem !important;
  height: 40rem !important;
}
